body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

#tablero {
    width: 420px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.carta {
    width: 100px;
    height: 100px;
    background-color: #444;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.descubierta {
    background-color: #fff;
    color: #000;
    cursor: default;
}

.volver a{
  width: 100px;
  height: 33px;
  background-color: #b5b5b5a6;
  border-radius: 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 15px;
  margin-left: 46%;
  margin-bottom: 10px;
  text-decoration: none;
}

/* Transición entre páginas */

body {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

body.page-loaded {
    opacity: 1;
    transform: translateY(0);
}